body {
    margin: 0;
    padding: 0;
    user-select: none;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#webgl_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#top-bar {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: Arial, sans-serif;
}
#top-bar div {
    display: inline-block;
    color: white;
    font-size: 11pt;
    text-shadow: black 0 0 10px;
    min-width: 120px;
    max-width: 200px;
    margin: 0;
    width: 15%;
    text-align: center;
}


input[type="checkbox"] {
    vertical-align: middle;
}
#canvas_overlay {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    min-width: 20%;
    max-width: 60%;
    max-height: 50%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
#notify_text {
    font-weight: bold;
    font-size: 20pt;
    font-family: Arial, sans-serif;
}
#page-loader-overlay {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

div#sound {
    text-align: right;
    font-family: Arial, sans-serif;
    float: right;
    margin-right: 10px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}

div#info {
    text-align: right;
    font-family: Arial, sans-serif;
    float: right;
    margin-right: 10px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}

div#info_overlay {
    position: absolute;
    margin: auto;
    right: 10px;
    top: 50px;
    width: fit-content;
    height: fit-content;
    min-width: 10%;
    max-width: 40%;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: left;
    vertical-align: middle;
    display: none;
}

div#info:hover div#info_overlay {
    display: block;
}

.loader {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}